* {
    margin: 0;
    padding: 0;
}

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.tag-panel {
    background: lightcyan;
    border: none;
}

.select-tag {
    color: #000;
    background: transparent;
    border: none;
}

.line {
    width: 5px;
    background: red;
    height: 21px;
    display: inline-block;
    line-height: 15px;
    margin-bottom: -6px;
    display: inline-block;
}

.hr {
    width: 104%;
    background-color: #EBEBEB;
    height: 40px;
    padding-right: 0;
}

.hr-lg {
    height: 80px;
}

.hr-sm {
    height: 20px;
}

.block {
    padding: 20px 0 20px 20px;
}

.task-remind {
    background: #939393;
    float: right;
    margin-right: 70px;
    color: #fff;
    border-radius: 50px
}

.info-list-item {
    background-color: #FFFFFF;
    height: 80px;
    padding: 15px;
}

.info-list-item .avatar {
    background: #fdafc5;
    width: 35px;
    height: 35px;
    position: relative;
    float: left;
}

.info-list-item .avatar img {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.info-list-item .link {
    font-size: 14px;
    color: rgb(68, 68, 68);
    font-weight: 600;
    line-height: 50px;
    margin-left: 67px;
}

.space {
    background: rgba(235, 235, 235, 1);
}